---
import Section from "../Section.astro"
import { basics as basicsDefault } from "@cv"
import type cvType from "../../cv.json"

interface Props {
  cvData?: typeof cvType
  title?: string
}

const { cvData, title = "Sobre mí" } = Astro.props
const basics = cvData?.basics ?? basicsDefault
const { summary } = basics
---

<Section title={title}>
  <p>
    {summary}
  </p>
</Section>
