---
import Section from "../Section.astro"
import { basics as basicsDefault } from "@cv"
import type { CV as cvType } from "@/cv.d"

interface Props {
  cvData?: cvType
  title?: string
}

const { cvData, title = "Sobre mí" } = Astro.props
const basics = cvData?.basics ?? basicsDefault
const { summary } = basics
---

<Section title={title}>
  <p>
    {summary}
  </p>
</Section>
